Resources/v4.28.03/ds_cisidu-4.03.05.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:cz-mzcr:ns:dasta:ds4:ds_cisidu" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsiduCis="urn:cz-mzcr:ns:dasta:ds4:ds_cisidu">
    <xs:simpleType name="uhradyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[345679]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

 <xs:simpleType name="lpz1-2Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-2]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-3Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-3]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-5Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-5]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz2-5Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[2-5]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-6Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-6]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-8Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-8]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-7Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-7]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz0-9Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[0-9]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz0-43Type">
     <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="43"/>
     </xs:restriction>
 </xs:simpleType>
	<xs:annotation>
		<xs:documentation> --- NOR - CISELNIKY --- </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="stadiumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="0a"/>
			<xs:enumeration value="0S"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="1A"/>
			<xs:enumeration value="1B"/>
			<xs:enumeration value="1C"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="2C"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="3A"/>
			<xs:enumeration value="3B"/>
			<xs:enumeration value="3C"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="4A"/>
			<xs:enumeration value="4B"/>
			<xs:enumeration value="4C"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="onemocneniType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[129]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cytoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[5-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="odstrnadType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[01239]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formaZareniType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0123459]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="formaLecbyType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[123459]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="druhZareniType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hoDruhLecbyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jinaLecbaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-6][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="duvVysType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-5]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="metodaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-6]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vysetreniType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-7]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ctvrletiType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="3"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation> +++ NOR - CISELNIKY +++ </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="socpostType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[123459]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zjipriType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[123459]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kourType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1239]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lateralType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12349]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zrizType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12345789]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dgstanType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-5]?[0-9]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="60"/>
					<xs:enumeration value="61"/>
					<xs:enumeration value="62"/>
					<xs:enumeration value="63"/>
					<xs:enumeration value="64"/>
					<xs:enumeration value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="dg_kodType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[C-D][0-9][0-9][0-9]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="topo_kodType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[C][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="morfo_mType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="morfo_kodType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gradingType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ptnm_n_snType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="X"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ptnm_itcType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="X"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tnm_rizType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="X"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tnm_sType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="X"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="klstaonType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="0a"/>
			<xs:enumeration value="0is"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="1A"/>
			<xs:enumeration value="1A1"/>
			<xs:enumeration value="1A2"/>
			<xs:enumeration value="1B"/>
			<xs:enumeration value="1B1"/>
			<xs:enumeration value="1B2"/>
			<xs:enumeration value="1C"/>
			<xs:enumeration value="1S"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="2C"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="3A"/>
			<xs:enumeration value="3B"/>
			<xs:enumeration value="3C"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="4A"/>
			<xs:enumeration value="4B"/>
			<xs:enumeration value="4C"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="onemocType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[129]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="op_druhType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0123479]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="op_odstType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[01239]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="op_endoType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[129]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ra_druhType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-5][0-9]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="60"/>
					<xs:enumeration value="61"/>
					<xs:enumeration value="62"/>
					<xs:enumeration value="63"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="ra_formaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12349]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="che_formaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[012349]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="che_typType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ho_druhType">
		<xs:restriction base="xs:string">
			<xs:pattern value="0[0-7]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ji_druhType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="0[0-9][0-9]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="1[0-1][0-9]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="120"/>
					<xs:enumeration value="121"/>
					<xs:enumeration value="122"/>
					<xs:enumeration value="123"/>
					<xs:enumeration value="124"/>
					<xs:enumeration value="125"/>
					<xs:enumeration value="126"/>
					<xs:enumeration value="127"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="nelproType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1234569]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="diagnozaType">
	
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][0-9][0-9][0-9]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lecba_umType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-5][0-9]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="60"/>
					<xs:enumeration value="61"/>
					<xs:enumeration value="62"/>
					<xs:enumeration value="63"/>
					<xs:enumeration value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="id_kontType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
<!-- Typ jednoznačného bezvýznamného identifkátoru LPZ -->
	<xs:simpleType name="lpzJbiType">
		<xs:restriction  base="xs:string">
            <xs:pattern value="[0-9]{8}-[0-9]{2}[01][0-9][0-3][0-9]-[0-9]{6}-[0-9a-zA-Z]"/>
        </xs:restriction>
	</xs:simpleType>
	<!-- Význam bloku s údaji (tj. totožnost, prohlídka nebo pitva) na LPZ -->
	<xs:simpleType name="lpzVyznamBlokuType">
		<xs:restriction  base="xs:string">
			<xs:enumeration value="Nemenit"/>
			<xs:enumeration value="Novy"/>
			<xs:enumeration value="Opravny"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

