Resources/v4.28.03/ds_idu_nrrod-4.02.07.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Daniel Klimes (Ustav zdravotnickych informaci a statistiky CR) -->
<!--3.2.2016  - zrušena povinnost  rzemp, rozšířen číselník ZhodnoceniPorodu (úprava datového typu)-->
<!--5.5.2016 - opraven datový typ rcpz a rpcpd-->
<!--18.5.2016 - opraven datový typ rdvojc-->
<!--9.6.2016 - popis u rkourpoc2-->
<!--23.5.2017 - pridan atribut datum narozeni matky-->
<!--10.3.2023 - Zásadní komplexní změny platné od 1.1.2024-->
<xs:schema xmlns:dsComm="urn:cz-mzcr:ns:dasta:ds4:ds_type" xmlns:nrrod="urn:cz-mzcr:ns:dasta:ds4:ds_idu_nrrod" xmlns:dsiduCis="urn:cz-mzcr:ns:dasta:ds4:ds_cisidu" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cz-mzcr:ns:dasta:ds4:ds_idu_nrrod" elementFormDefault="qualified" version="4.02.01">
	<xs:import namespace="urn:cz-mzcr:ns:dasta:ds4:ds_cisidu" schemaLocation="ds_cisidu-4.03.05.xsd"/>
	<xs:import namespace="urn:cz-mzcr:ns:dasta:ds4:ds_type" schemaLocation="ds_type-4.02.24.xsd"/>
	<xs:complexType name="nrrType">
		<xs:sequence>
			<xs:element name="nrrod" type="nrrod:nrrodType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zpráva o rodičce</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rico" type="dsComm:icisType" use="required">
			<xs:annotation>
				<xs:documentation>IČO (identifikační číslo zdravotnického zařízení)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rpcz" type="dsComm:number3de" use="required">
			<xs:annotation>
				<xs:documentation>PČZ (pořadové číslo zdravotnického zařízení)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rpcpd" type="dsComm:number3de" use="required">
			<xs:annotation>
				<xs:documentation>PČDP (pořadové číslo detašovaného pracoviště)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rodd" type="dsComm:str5" use="required">
			<xs:annotation>
				<xs:documentation>5-znakový kód oddělení</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="nrr" type="nrrod:nrrType"/>
	<xs:complexType name="nrrodType">
		<xs:sequence>
			<xs:element name="rteh" type="nrrod:polozkaCiselnikaType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Závažné komplikace těhotenství dle číselníku <cl>ZavazneKomplikaceTehotenstviAPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rindduvod" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Důvod preindukce/indukce vaginálního porodu dle číselníku <cl>DuvodIndukce</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rindmet" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Metoda preindukce/indukce vaginálního porodu dle číselníku <cl>MetodaIndukce</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rscindikace" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> * Indikace k císařskému řezu dle číselníku <cl>IndikaceKSC</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ranalgezie" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> * Analgezie při vaginálním porodu dle číselníku <cl>AnalgeziePriPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rporod" type="nrrod:polozkaCiselnikaType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Komplikace za porodu dle číselníka <cl>KomplikaceZaPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rlekyteh" type="nrrod:polozkaCiselnikaType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> * Léky v průběhu těhotenství dle číselníku <cl>LekyVTehotenstvi</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rleky" type="nrrod:polozkaCiselnikaType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Léky za porodu dle číselníka <cl>LekyZaPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rasist" type="nrrod:polozkaCiselnikaType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>* Asistence u porodu dle číselníku <cl>AsistenceUPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nrrodn" type="nrrod:nrrodnType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Dítě (údaje o plodu/novorozenci)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rporaneni" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>* Poranění za porodu dle číselníku <cl>PoraneniZaPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rdoprovod" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>* Doprovod u porodu dle číselníku <cl>DoprovodUPorodu</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rsest" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Komplikace v časném šestinedělí dle číselníka <cl>KomplikaceVSestinedeli</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rlecsest" type="nrrod:polozkaCiselnikaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Léčba v časném šestinedělí dle číselníka <cl>TypLecbaVSestonedeli</cl>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rcispor" type="dsComm:number0-9999" use="optional">
			<xs:annotation>
				<xs:documentation>* změnit na nepovinný  Číslo porodopisu</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rrcm" type="dsComm:rodcisType" use="required">
			<xs:annotation>
				<xs:documentation>Číslo pojištěnce matky</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatnarm" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Datum narození matky</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rprij" type="dsComm:dateHour" use="required">
			<xs:annotation>
				<xs:documentation>Datum a čas přijetí</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvzdel" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>*Vzdělání dle číselníku <cl>VzdelaniRodicka</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rstav" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>*Rodinný stav dle číselníku <cl>Stav</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="robecm" type="dsComm:number6d" use="required">
			<xs:annotation>
				<xs:documentation>Obec bydliště dle číselníku <cl>Obec</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rstaobc" type="dsComm:str2" use="required">
			<xs:annotation>
				<xs:documentation>Státní občanství dle číselníku <cl>Zeme</cl>, dvojmístný znakový kód a2
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rpobytcr" type="dsComm:logical">
			<xs:annotation>
				<xs:documentation>* Trvalý pobyt v ČR (dle ROB) ano/ne - pouze u státního občanství jiného než CZ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rzemepobyt" type="dsComm:str2">
			<xs:annotation>
				<xs:documentation>Země obvyklého pobytu dle číselníku <cl>Zeme</cl>, dvojmístný znakový kód a2</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rcelpor" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>Porodů celkem</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvagterm" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích vaginálních porodů „v termínu porodu“</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvagpred" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích vaginálních porodů „předčasných“</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscterm" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* nový	Počet předchozích porodů císařským řezem „v termínu porodu“</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscpred" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích porodů císařským řezem „předčasných“</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rcelteh" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* Celkem těhotenství</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rmrtve" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>Z toho mrtvě narozených</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rcnu" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>ČNÚ (časná novorozenecká úmrtnost)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rpnu" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>PNÚ (pozdní novorozenecká úmrtnost)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rsponpot1" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích spontánních potratů v I. trimestru (gestační stáří 12+6)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rsponpot2" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích spontánních potratů v II. trimestru (gestační stáří 13+0 – 26+6)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rupt1" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích uměle ukončených potratů v I. trimestru (gestační stáří 12+6)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rupt2" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* Počet předchozích uměle ukončených potratů v II. trimestru (gestační stáří od 13+0)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rmimo" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>Počet ukončení ektopických těhotenství</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rnikotin" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>*Nikotinismus dle číselníku <cl>NavykoveLatkyRodicka</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdrogy" type="dsComm:number1d" use="required">
			<xs:annotation>
				<xs:documentation>* Užívání drog dle číselníku <cl>NavykoveLatkyRodicka</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rprvnidiag" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>* První diagnostika těhotenství u lékaře (týden)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvyska" type="dsComm:number3d">
			<xs:annotation>
				<xs:documentation>* Tělesná výška rodičky v cm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rhmotnostz" type="dsComm:number3d">
			<xs:annotation>
				<xs:documentation>* Hmotnost rodičky na začátku těhotenství v kg</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rhmotnostk" type="dsComm:number3d">
			<xs:annotation>
				<xs:documentation>* Hmotnost rodičky na konci těhotenství v kg</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreen14" type="dsComm:str1" use="required">
			<xs:annotation>
				<xs:documentation>* Ultrazvukové vyšetření do 14. týdne dle číselníku <cl>AnoNeNezadano</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreen1822" type="dsComm:str1" use="required">
			<xs:annotation>
				<xs:documentation>*Ultrazvukové vyšetření ve 18.- 22. týdnu  dle číselníku <cl>AnoNeNezadano</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreen3032" type="dsComm:str1" use="required">
			<xs:annotation>
				<xs:documentation>* Ultrazvukové vyšetření ve 30.- 32. týdnu  dle číselníku <cl>AnoNeNezadano</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreenkombin" type="dsComm:str1" use="required">
			<xs:annotation>
				<xs:documentation>* Kombinovaný screening v I. trimestru (11.-13. týden) dle číselníku <cl>AnoNeNezadano</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreenmorf" type="dsComm:str1" use="required">
			<xs:annotation>
				<xs:documentation>* Podrobné hodnocení morfologie plodu ve II. trimestru (20.-22. týden)  dle číselníku <cl>AnoNeNezadano</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreenrust" type="dsComm:str1" use="required">
			<xs:annotation>
				<xs:documentation>* Ultrazvukový screening růstové restrikce plodu ve III. trimestru (36.-37. týden)  dle číselníku <cl>AnoNeNezadano</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatumplodvody" type="xs:date">
			<xs:annotation>
				<xs:documentation>* Datum odběru plodové vody</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatumchorklku" type="xs:date">
			<xs:annotation>
				<xs:documentation>* Datum odběru choriových klků</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatumkrevplod" type="xs:date">
			<xs:annotation>
				<xs:documentation>* Datum odběru krve plodu</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rscreengbs" type="dsComm:number2d" use="optional">
			<xs:annotation>
				<xs:documentation>*Výsledek screeningu na GBS dle číselníku <cl>ScreeningVysledek</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rlektehjiny" type="dsComm:str255">
			<xs:annotation>
				<xs:documentation>Jiný lék v těhotenství</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rgravid" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>Těhotenství dle číselníku <cl>NynejsiGravidita</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rkompteh" type="dsComm:str255">
			<xs:annotation>
				<xs:documentation>* Závažné komplikace v těhotenství - jiné 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rodtok" type="dsComm:dateHour" use="required">
			<xs:annotation>
				<xs:documentation>Datum odtoku plod. vody</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatdoba1" type="dsComm:dateHour" use="required">
			<xs:annotation>
				<xs:documentation>* Datum a hodina začátku porodu (I.doby porodní)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatdoba2" type="dsComm:dateHour" use="required">
			<xs:annotation>
				<xs:documentation>* Datum začátku II. doby porodní</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatpor" type="dsComm:dateHour" use="required">
			<xs:annotation>
				<xs:documentation>* upřesnění popisu Datum a hodina porodu</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rmisto" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>* Místo porodu dle číselníku <cl>PorodKde</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdelka1" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Délka I. doby porodní (hodiny)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdelka2" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Délka II. doby porodní (minuty)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvicecetne" type="dsComm:logical" use="required">
			<xs:annotation>
				<xs:documentation>* Vícečetné těhotenství ano/ne</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rcetnosttyp" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>* Vícečetné těhotenství – Jaké, hodnota dle číselníku <cl>VicecetneTehotenstviJake</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rnitrodelumrti" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>* Nitroděložní úmrtí plodu dle číselníku <cl>NitrodelozniUmrtiPlodu</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rgesta" type="dsComm:number22-45" use="required">
			<xs:annotation>
				<xs:documentation>Gestační stáří - počet týdnů</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rgestadny" type="dsComm:number0-6" use="required">
			<xs:annotation>
				<xs:documentation>Gestační stáří - dny</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rindukce" type="dsComm:logical" use="required">
			<xs:annotation>
				<xs:documentation>* Preindukce/indukce vaginálního porodu ano/ne</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rindukcejinyduvod" type="dsComm:str255" use="optional">
			<xs:annotation>
				<xs:documentation>* Jiný důvod preindukce/indukce vaginálního porodu (poznámka)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ranes" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>*Anestézie při při císařském řezu dle číselníku <cl>AnesteziePriPorodu</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rsc" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>*Ukončení císařským řezem dle číselníku <cl>UkonceniPerSc</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rkomppor" type="dsComm:str255">
			<xs:annotation>
				<xs:documentation>* Jiná porodní komplikace (poznámka) – text
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rkrevztrata" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>*Krevní ztráta u porodu dle číselníku <cl>KrevniZtrata</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rdatuk" type="dsComm:dateHour" use="required">
			<xs:annotation>
				<xs:documentation>Datum ukončení ZR</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rduvuk" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>Důvod ukončení ZR dle číselníku <cl>DuvodUkonceniZpravyORodicce</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rsestkomp" type="dsComm:str255">
			<xs:annotation>
				<xs:documentation>* Jiné komplikace v šestinedělí
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="jmeno" type="dsComm:str50">
			<xs:annotation>
				<xs:documentation>Pouze pro účely ztotožnění pacienta, pokud není poskytovateli dostupné AIFO, položka nebude ukládána v databázi</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="prijmeni" type="dsComm:str50">
			<xs:annotation>
				<xs:documentation>Pouze pro účely ztotožnění pacienta, pokud není poskytovateli dostupné AIFO, položka nebude ukládána v databázi</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rinvdiag" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation> * Invazivní prenatální diagnostika dle číselníku <cl>InvazivniPrenatalniDiagnostika</cl> Přesunuto mezi atributy</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="nrrodnType">
		<xs:attribute name="rpord" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>*Pořadí</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvagin" type="dsComm:number2d">
			<xs:annotation>
				<xs:documentation>*Ukončení vaginálním porodem dle číselníku <cl>UkonceniVaginalne</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rpohl" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>*Pohlaví dle číselníku <cl>Pohlavi</cl>, skupina platnosti 02
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rvit" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>*Vitalita dle číselníku <cl>Vitalita</cl>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rhmot" type="dsComm:number300-8000">
			<xs:annotation>
				<xs:documentation>Porodní hmotnost (g)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rapgar1" type="dsComm:number0-10">
			<xs:annotation>
				<xs:documentation>Součet apgarového skóre za 1. minutu</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rapgar5" type="dsComm:number0-10">
			<xs:annotation>
				<xs:documentation>Součet apgarového skóre za 5. minutu</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rapgar10" type="dsComm:number0-10">
			<xs:annotation>
				<xs:documentation>Součet apgarového skóre za 10. minutu</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rph" type="dsComm:number1.2">
			<xs:annotation>
				<xs:documentation>Arteriálni pH - koncentrace vodíkových iontů</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rlaktat" type="dsComm:number3.1">
			<xs:annotation>
				<xs:documentation>Laktát</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="polozkaCiselnikaType">
		<xs:attribute name="kod" type="dsComm:number2d" use="required">
			<xs:annotation>
				<xs:documentation>Kód číselníkové položky</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
